@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #2b2b2b;
  margin: 0;
  font-family: "Robot", sans-serif;
  color: white;
}

.header {
  text-align: center;
  padding: 20px;
  background-color: #161b22;
}
.container {
  margin-top: 240px;
  display: flex;
  justify-content: center;
}

.gameboard {
  width: 300px;
  height: 300px;
  border: 20px solid #DBDBDB;
  border-radius: 10px;
}

.row {
  height: 33.3%;
}

.col {
  height: 100%;
  width: 33.3%;
  float: left;
  text-align: center;
  font-size: 70px;
  cursor: pointer;
  background-color: #3275c6;
  color: #DBDBDB;
}

.footer {
  position: fixed;
  text-align: center;
  font-size: 16px;
  background-color: #161b22;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

#square-2 {
    background-color: #488FF7;
    color: #FFFFFF;
}

